.ptag{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
}



.ant-input{
    width: 300px !important;
}
.ant-input-affix-wrapper{
    width: 300px !important;
}
.read_data{
    text-align: center;
}